# About this notebook
<p style="text-align: justify"> Here, you will learn the basic coding and data structures including numbers, strings, list, dictionaries and more. Some codes already done for demonstration. Some other codes, you will do as excercises.</p>

## Submission
<p style="text-align: justify">After completing the practice codes and exercises, download the notebook (.pynb file) and submit the notebook  to MS Teams inbox in the class period</p>
<p> 1.<b> You must submit your own code</b>. If similarity found negative marking will be given.</p>
<p> 2. Modify the file name writing ID at the beigining of the file name. </p><p><b>Example: 20-45961-3 Lab 01.ipynb</b></p>
<p> 3. Other file format (except .pynb) or link will not be accepted.</p>

# **INSTRUCTION**

# Number

In [1]:
# basic numeric operations
45999 - 2898

43101

In [2]:
# classic division returns a float
2333/123

18.96747967479675

In [3]:
# floor division discards the fractional part
2999 // 99

30

In [4]:
# assigin value to variable for later use
a = 12999 / 226
print(a)

57.517699115044245

In [5]:
# use the variable a for further operations
b = a*99
print(b)

5694.2522123893805

In [6]:
a=2 ** 10
print(a)

1024

<b>Exercise 1:</b> Assign values to some variables and perform different operations. Also print the results.

In [7]:
a=4
b=7
c=a+b
print(c)
print(a*98)
print(b-a)
print(c // 4)
print(b/a)

11
392
3
2
1.75

# Import Module
<p style="text-align: justify"> Python code in one module gains access to the code in another module by the process of importing it. The import statement is the most common way of invoking the import machinery.</p>

<p style="text-align: justify">Python’s standard library is very extensive, offering a wide range of facilities. The library contains built-in modules (written in C) that provide access to system functionality such as file I/O that would otherwise be inaccessible to Python programmers, as well as modules written in Python that provide standardized solutions for many problems that occur in everyday programming. Some of these modules are explicitly designed to encourage and enhance the portability of Python programs by abstracting away platform-specifics into platform-neutral APIs.</p>

<b> Example:</b> Python has a built-in module that you can use for mathematical tasks. The math module has a set of methods and constants. The detail documentation can be found [here](https://docs.python.org/3/library/math.html).

In [8]:
# importing the math module
import math
# accessing the constant π from math
print(math.tau)
print(math.pi)

6.283185307179586
3.141592653589793

In [9]:
# using the method sqrt from math
math.sqrt(66)

8.12403840463596

In [10]:
math.factorial(5)

120

In [11]:
math.prod([2,3,5,7])

210

<b>Remember:</b> A cell always outputs the value of last variable. If you want to show other values use print. See the below cell for an example.

In [12]:
print(1+2)
print(a*4)
print(a/b)

3
16
0.5714285714285714

<b>Exercise 2:</b> Import a module of your choice (other than math) and show some operations.<br>
You can find one from all python module list [Click here](https://docs.python.org/3/py-modindex.html).

In [13]:
import cmath
a=6
b=7
print( cmath.tan(45))
print(cmath.log10(50))
print(cmath.sqrt(999 // 9))
print(5+2)

(1.6197751905438615+0j)
(1.6989700043360185+0j)
(10.535653752852738+0j)
7

# Object types
The basic object types are Numbers, Strings, Lists, Dictionaries, Tuples, Files and Other types (Sets, types, None, Booleans etc.)

In [15]:
a=10.5

In [16]:
# Checking the type of an object
print(type(a))
print(type(b))

<class 'float'>
<class 'int'>

In [17]:
c = 123
print(type(c))

<class 'int'>

In [18]:
d = '123'
print(type(d))

<class 'str'>

In [19]:
c = 45.5
print(type(c))

<class 'float'>

In [20]:
a = 7.999887
d = 99+a
print(type(d))

<class 'float'>

# String

In [21]:
# assign value to a variable. The value can be qouted using '' or ""
s = 'Bangladesh'

In [22]:
# index
s[0]

'B'

In [23]:
# negative index
s = 'alif'
s[-1]

'f'

When to use ' ' or " " ?

string operations with * and +

In [26]:
'alif ' * 999

'alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif alif '

In [25]:
name='Hello '
name * 3

'Hello Hello Hello '

In [27]:
'Sayed' + ' Nafisur' + ' Rahman'+ ' Alif '

'Sayed Nafisur Rahman Alif '

In [28]:
name + ' Alif'

'Hello  Alif'

In [29]:
# slicing
name = 'Ashraf Uddin'
print(name[4:8])
print(name[4:])
print(name[:4])
print(name[-3:])
print(name[1:8:2])
print(name[ -1: :-1])

af U
af Uddin
Ashr
din
srfU
niddU farhsA

In [30]:
name[-8:-2]

'af Udd'

In [31]:
#dir(name)

Some examples of string methods

In [32]:
name = 'Sayed Nafisur Rahman Alif'
sub = 'a'
name.count(sub)

4

In [33]:
help(name.count)

Help on built-in function count:

count(...) method of builtins.str instance
    S.count(sub[, start[, end]]) -> int

    Return the number of non-overlapping occurrences of substring sub in
    string S[start:end].  Optional arguments start and end are
    interpreted as in slice notation.

In [34]:
print(name.split()[-1])

Alif

In [35]:
name.islower()

False

In [36]:
mystring = 'I am right\nHe is fine\nThis it okay'
mystring.splitlines()

['I am right', 'He is fine', 'This it okay']

In [37]:
mystring = 'I am right\nHe is fine\nThis it okay'
mystring.split(' ')

['I', 'am', 'right\nHe', 'is', 'fine\nThis', 'it', 'okay']

In [38]:
separator = ' ?? '
mystrings = ['Himel', 'Liton', 'Hasan', 'Fahim']
separator.join(mystrings)

'Himel ?? Liton ?? Hasan ?? Fahim'

In [39]:
#help(mystring.count)

In [40]:
len(name)

25

In [41]:
# check which functions you can use with variable 'name'
dir(name)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [42]:
help(name.split)

Help on built-in function split:

split(sep=None, maxsplit=-1) method of builtins.str instance
    Return a list of the substrings in the string, using sep as the separator string.

      sep
        The separator used to split the string.

        When set to None (the default value), will split on any whitespace
        character (including \\n \\r \\t \\f and spaces) and will discard
        empty strings from the result.
      maxsplit
        Maximum number of splits (starting from the left).
        -1 (the default value) means no limit.

    Note, str.split() is mainly useful for data that has been intentionally
    delimited.  With natural text that includes punctuation, consider using
    the regular expression module.

<b>Exercise 3:</b> Demonstrate some string operations. Also, show uses of some string methods.

In [51]:

str1 = "Hello"
str2 = "World"
name = "Sayed Nafisur Rahman Alif"


concatenation = str1 + " " + str2
repetition = str1 * 3
indexing = str1[1]
negative_indexing = str2[-1]
slicing = name[6:14]


string_length = len(name)
count_a = name.count('a')
is_lowercase = name.islower()
upper_case = name.upper()
split_name = name.split()
reversed_name = name[::-1]


print(f"Concatenation: {concatenation}")
print(f"Repetition: {repetition}")
print(f"Indexing (2nd character of '{str1}'): {indexing}")
print(f"Negative Indexing (last character of '{str2}'): {negative_indexing}")
print(f"Slicing ('{name[6:14]}') from 'name': {slicing}")


print(f"Length of string 'name': {string_length}")
print(f"Occurrences of 'a' in 'name': {count_a}")
print(f"Is 'name' lowercase?: {is_lowercase}")
print(f"Uppercase version of 'name': {upper_case}")
print(f"Splitting 'name' into words: {split_name}")
print(f"Reversed string 'name': {reversed_name}")

Concatenation: Hello World
Repetition: HelloHelloHello
Indexing (2nd character of 'Hello'): e
Negative Indexing (last character of 'World'): d
Slicing ('Nafisur ') from 'name': Nafisur
Length of string 'name': 25
Occurrences of 'a' in 'name': 4
Is 'name' lowercase?: False
Uppercase version of 'name': SAYED NAFISUR RAHMAN ALIF
Splitting 'name' into words: ['Sayed', 'Nafisur', 'Rahman', 'Alif']
Reversed string 'name': filA namhaR rusifaN deyaS

# List
<p style="text-align: justify">Python knows a number of compound data types, used to group together other values. The most versatile is the list, which can be written as a list of comma-separated values (items) between square brackets. Lists might contain items of different types, but usually the items all have the same type.</p>

In [49]:
squares = [1, 4, 9, 16, 25]
squares

[1, 4, 9, 16, 25]

In [52]:
data = [21, 'Manager', ['Manager', 89000] ,4.50, 'Dhaka']
data.insert(2,10)
print(data)

[21, 'Manager', 10, ['Manager', 89000], 4.5, 'Dhaka']

Like strings (and all other built-in sequence types), lists can be indexed and sliced:

In [53]:
data[-3][1]

89000

In [54]:
data[-1]

'Dhaka'

In [56]:
data[0:3]

[21, 'Manager', 10]

In [60]:
data[1]

'Manager'

In [64]:
data[3][0]

'Manager'

In [62]:
len(data)

6

In [63]:
data

[21, 'Manager', 10, ['Manager', 89000], 4.5, 'Dhaka']

Some list methods

In [65]:
data = [21, 'Manager', ['Manager', 89000] ,4.50, 'Dhaka']
data.append(100)
print(data)

[21, 'Manager', ['Manager', 89000], 4.5, 'Dhaka', 100]

In [66]:
data = [21, 'Manager', ['Manager', 89000] ,4.50, 'Dhaka']
data.insert(2,100)
print(data)

[21, 'Manager', 100, ['Manager', 89000], 4.5, 'Dhaka']

In [67]:
data = [21, 'Manager', ['Manager', 89000] ,4.50, 'Dhaka']
data.remove(4.5)
print(data)

[21, 'Manager', ['Manager', 89000], 'Dhaka']

In [68]:
data = [21, 'Manager', ['Manager', 89000] ,4.50, 'Dhaka']
data.pop()
print(data)

[21, 'Manager', ['Manager', 89000], 4.5]

In [69]:
dir(data)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [70]:
#help(data.insert)

Lists also support operations like concatenation

In [71]:
squares + data

[1, 4, 9, 16, 25, 21, 'Manager', ['Manager', 89000], 4.5]

<b> Exercise 4:</b> Implement stack using list
<p><b>Hints:</b> The list methods make it very easy to use a list as a stack, where the last element added is the first element retrieved (“last-in, first-out”). To add an item to the top of the stack, use append(). To retrieve an item from the top of the stack, use pop() without an explicit index</p>

In [72]:

stack = []

stack.append(10)
stack.append(20)
stack.append(30)


print("Stack after pushing elements:", stack)


top_element = stack.pop()
print("Popped element:", top_element)


print("Stack after popping an element:", stack)


stack.append(40)
print("Stack after pushing 40:", stack)


top_element = stack.pop()
print("Popped element:", top_element)


print("Final state of the stack:", stack)

Stack after pushing elements: [10, 20, 30]
Popped element: 30
Stack after popping an element: [10, 20]
Stack after pushing 40: [10, 20, 40]
Popped element: 40
Final state of the stack: [10, 20]

<b> Exercise 5:</b> Implement queue using list
<p><b>Hints:</b> It is also possible to use a list as a queue, where the first element added is the first element retrieved (“first-in, first-out”)</p>

In [74]:
queue = []
queue.append(10)
queue.append(20)
queue.append(30)

print("Queue after enqueueing elements:", queue)

first_element = queue.pop(0)
print("Dequeued element:", first_element)

print("Queue after dequeuing an element:", queue)

queue.append(40)
print("Queue after enqueueing 40:", queue)

first_element = queue.pop(0)
print("Dequeued element:", first_element)

print("Final state of the queue:", queue)

Queue after enqueueing elements: [10, 20, 30]
Dequeued element: 10
Queue after dequeuing an element: [20, 30]
Queue after enqueueing 40: [20, 30, 40]
Dequeued element: 20
Final state of the queue: [30, 40]

# Dictionary
<p style="text-align: justify">Dictionaries are sometimes found in other languages as “associative memories” or “associative arrays”. Unlike sequences, which are indexed by a range of numbers, dictionaries are indexed by keys, which can be any immutable type; strings and numbers can always be keys.</p>

<p style="text-align: justify">It is best to think of a dictionary as a set of key: value pairs, with the requirement that the keys are unique (within one dictionary). A pair of braces creates an empty dictionary: {}. Placing a comma-separated list of key:value pairs within the braces adds initial key:value pairs to the dictionary; this is also the way dictionaries are written on output.</p>

In [ ]:
tel = {'jack': 4098, 'sape': 4139}

In [ ]:
list(tel.keys())[1]

'sape'

In [ ]:
tel['guido'] = 4127
tel

{'jack': 4098, 'sape': 4139, 'guido': 4127}

In [ ]:
person = {'Age':21,'Name':['niaz','rahman'], 'Salary':56000, 'Rating':4.50}

In [ ]:
person['Rating']

4.5

In [ ]:
len(person)

4

In [ ]:
person.keys()

dict_keys(['Age', 'Name', 'Salary', 'Rating'])

In [ ]:
#person.has_key('Name')
'Name' in person.keys()

True

In [ ]:
'niaz' in person['Name']

True

In [75]:
#dir(person)

<b> Exercise 6:</b> Define a dictionary to store the details of persons. Also, print some data from the dictionary.
 <p><b>Hint:</b> You may require nesting dictionary, lists, string inside the dictionary.</p>

In [ ]:
persons = {
    'Person1': {
        'Name': ['Niaz', 'Rahman'],
        'Age': 21,
        'Salary': 56000,
        'Rating': 4.50,
        'City': 'Dhaka'
    },
    'Person2': {
        'Name': ['Alice', 'Smith'],
        'Age': 30,
        'Salary': 75000,
        'Rating': 4.80,
        'City': 'New York'
    },
    'Person3': {
        'Name': ['John', 'Doe'],
        'Age': 28,
        'Salary': 67000,
        'Rating': 4.60,
        'City': 'San Francisco'
    }
}


print(f"Salary of Person1: {persons['Person1']['Salary']}")


print(f"Age of Person3: {persons['Person3']['Age']}")


print(f"Full name of Person2: {' '.join(persons['Person2']['Name'])}")


print(f"Keys of Person1: {persons['Person1'].keys()}")


is_in_name = 'Alice' in persons['Person2']['Name']
print(f"Is 'Alice' in Person2's name? {is_in_name}")

# Tuples and Sets
<b>Exercise 7: (Optional)</b> Use the content from [here](https://docs.python.org/3/tutorial/datastructures.html#tuples-and-sequences) to follow some examples on tuple and set.

In [ ]:
# code from here